<%- include("./header.ejs") %>
<body>
    <%- include("./navbar.ejs") %>
    <div class="container">
        <form action="/" method="post">
        <label>Quetions</label>
        <textarea required lang="hi" class="form-control" name="quetion"rows="2"></textarea>
        <h6 style="margin-top: 10px;">Options</h6>
        <div>
            <label>1.</label>
            <input required lang="hi" type="text" name="option1" class="form-control quetion-input">
        </div>
        <div>
            <label>2.</label>
            <input required lang="hi" type="text" name="option2" class="form-control quetion-input">
        </div>
        <div>
            <label>3.</label>
            <input required lang="hi" type="text" name="option3" class="form-control quetion-input">
        </div>
        <div>
            <label>4.</label>
            <input required lang="hi" type="text" name="option4" class="form-control quetion-input">
        </div>
        <hr>
        <div class="row" style="width:500px">
            <div class="col-sm">
                <label>Answer</label>
                <select name="answer" class="form-select" style="width: 200px;">
                    <option value="0">Not Selected</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                  </select>
            </div>
            <div class="col-sm">
                <label>Subjects</label>
                <select name="subjects" class="form-select" style="width: 200px;">
                    <option value="0">Not Selected</option>
                    <option value="inidanHistory">Indian History</option>
                    <option value="indianGeography">Indian Geography</option>
                    <option value="contitution">Contitution</option>
                    <option value="science">Science</option>
                  </select>
            </div>
        </div>
        
        <div>
            <label>Description</label>
            <textarea lang="hi" class="form-control" name="description"rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-secondary mt-3">Submit</button>
    </form>
     
    </div>
</body>
</html>